In [13]:
#importing necessary packages
import numpy as np
import pandas as pd

In [14]:
data=pd.read_csv("/content/insurance.csv")

In [15]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [16]:
data.info()#basic idea that we get from the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [17]:
data.describe()#statistical analysis

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [18]:
#data preprocessing 
#convert categorical variables of the dataset into numerical variables - using ONE HOT ENCODING technique
data['smoker']=data['smoker'].apply({'yes':1,'no':0}.get)

In [19]:
data.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [20]:
data['sex']=data['sex'].apply({'male':1,'female':0}.get)
data['region']=data['region'].apply({'southeast':0,'southwest':1,'northeast':2,'northwest':3}.get)

In [21]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       0   1725.55230
2   28    1  33.000         3       0       0   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [22]:
#dividing the dataset into dependent and independent columns
X=data[['age','sex','bmi','children','smoker','region']] #independent features from the dataset

y=data['charges'] #dependent column from the dataset

In [23]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       1
1   18    1  33.770         1       0       0
2   28    1  33.000         3       0       0
3   33    1  22.705         0       0       3
4   32    1  28.880         0       0       3

In [24]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [27]:
#splitting the dataset into training and testing set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2) #20% of the dataset will be used for testing(evaluation) and 80% of the data will be used for training purposes

In [28]:
#creating the machine learning model
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train) # training is taking place

LinearRegression()

In [29]:
#predictions
linearmodel.predict(X_test)

array([ 9339.08020728, 10524.76776829, 17046.54144667, 12823.7030608 ,
        5401.58567606, 37996.94868978, 33116.45819465, 12047.81334675,
       12121.15723817,  7087.114536  , -1268.49506276,  1181.74054465,
       11288.28185882,  5854.92787043, 27298.59992579, 13561.86185359,
        7751.24531468,  1090.01699988, 10713.26547802, 11965.85915975,
        8119.80908329,  2030.44064795,  4986.006487  , 10606.89872967,
        9769.43833251, 39834.56649169, 25370.10258984, 38885.98078824,
       -1175.71832856, 26733.27050944, 10518.32829456, 12538.58311531,
       11881.87760994, 13466.9573193 , 14283.34263111,  4700.30980491,
        6476.78946612,  8980.99487455,  9456.61138003, 16416.34185405,
       17158.05033748, 40237.02531761, 36952.97510621,  2454.9526001 ,
       10035.03326981, 17197.68977528,  4861.84221261, 12853.99709114,
        6484.72478907,  -377.20567752,  8798.21434143,  3265.86181822,
        6341.63499724,  1906.74183288,  2139.50012696, 12890.60548992,
       10616.94766768, 12556.70345209,  5844.05081777, 27829.14384222,
        7387.50510105, 10411.02518036,  9657.65929894, 15597.76728844,
        1432.74579356, 12577.83828868,  1720.93800955, 12482.85912833,
       25486.18534809, 13363.42372472,  1490.61935704,  3080.10322835,
       11409.15845654, 14564.59816727, 10772.07184035,  3008.79782585,
        8906.43032231, 14793.51314851, 11318.60423625,  6483.69222031,
       14219.03873145, 33929.79049088, 32504.06744448,  4766.06161902,
       16070.18897511,  9790.18655851,  1728.81626018,  2269.51159756,
        8340.02983989, 13381.65329311,  5713.74320347,  6829.5055682 ,
       14012.45022061,  8684.0740168 ,  3035.59668089, 11583.0999277 ,
       30039.45505182, 24355.67763146,  8806.30008211,   904.26652442,
       35520.94346149,  5942.63505242, 10785.1666922 , 35269.47730068,
       30115.8924591 ,  4997.68837317,  4335.94913398, 12636.44626568,
       10720.88322349, 33930.45569142,  7584.98525439,  4903.97328397,
       36191.62832577, 36925.03730957,   952.96756493, 12654.54667156,
       12173.52887435,  5406.96637996, 29967.3784087 ,  2181.47755622,
       10749.23922459, 11705.17234105, 33840.00615534, 26856.79321565,
       32868.93293772, 35817.16520165, 14051.62941203,  3005.01834572,
        7021.6198682 ,  4567.12309065, 16338.86273062, 23647.15308156,
        3966.25097119, 32353.7843904 ,  6521.07687437,  4073.99523243,
        3128.7065105 ,  3490.64948358,  9827.00495895, 24487.85978944,
       29940.64929954,  8757.03193217,  3572.14176839, 10033.20296929,
       12108.50220174, 26568.05635699,  8657.07104042,  3956.05075965,
       14431.33480554,  4983.18680552,  3427.24479848,  7941.15870185,
       15724.93983517,  7465.79950999, 10330.25688131,  2792.43355386,
       14479.82057434, 30512.01464996, 28765.66304793,  4439.43476095,
       16116.9818548 , 12062.96796571, 31371.18762905, 29360.40736968,
        8350.30501026, 33693.37208597, 12332.56610388, 10529.27205715,
       14997.99933771, 37098.29619376, 32684.2682233 , 10965.61715856,
       34235.78713637,  2520.75792939, 34916.01140161,  6035.90341418,
        9533.5873698 , 17953.56890121, 30128.38946346, 11639.80109976,
        3452.31057844,  5124.94871774,  5666.1571493 , 14139.88832985,
       12415.92027054,  7196.73099662, 12228.60673586, 15941.75676159,
       37904.60468771, 10570.21824071, 11729.21956998,  7336.49038136,
        1829.74845667, 32022.96017064,  7193.20711721, 12618.69618419,
        7175.17543408, 11781.80071761,  3776.99856004,  6777.84591162,
       13468.75202398, 14261.34015142, 11165.99262818, 33275.52868429,
       10300.92857532, 13096.91709945, 15594.80292651,  1097.37878762,
        4087.85693493,  9425.85795912, 11633.82965407, 40214.05407762,
        7842.14460371,  4762.08373058, 11279.55876462, 26587.58036504,
        6693.3105816 ,  6785.31660809, 15188.97013883,  6060.22785478,
        8239.35478971, 37746.43796004, 17103.69778478, 14161.75168524,
        9203.98499943, -1525.47209013,  6550.07865378,   -40.56956733,
        8096.58138678,  4499.73968427,  6925.67956376, 38721.52503741,
       12918.63276318, 11252.15650595, 12807.181912  , 14307.64427219,
        1796.89930721,  5442.93809073,  9053.0271072 , 39424.81018657,
       14552.55142452, 36900.00379086,  4217.86840554,  8792.86385311,
       33664.19505351,  2408.12409173,  4195.72967018, 11778.27683819,
        4195.73745184,  3229.76077763, 13184.81302917, 11505.87877355,
       10984.52865828,   -82.33172489, 10852.23537988, 31092.41105475,
         184.61522445,  1926.3300064 ,  8869.87411568,  9087.14925267,
       11932.57256344, 33184.03374044,  1465.64845821,  6361.40618121,
        8501.32317621, 10670.99460638,  8350.49883832, 13879.14261571])

In [31]:
#calculating the accuracy of the model
linearmodel.score(X,y) # evaluation is taking place

0.7503167070560908

In [42]:
#predictions with respect to new dataset
data_new={'age':45,'sex':0,'bmi':26,'children':3,'smoker':0,'region':3}
index=[1]#serial number
my_data=pd.DataFrame(data_new,index)

In [43]:
print(my_data)

   age  sex  bmi  children  smoker  region
1   45    0   26         3       0       3

In [44]:
#charges allocated
my_data_charges=linearmodel.predict(my_data)
print("the charges allocated to the new customer is", my_data_charges)

the charges allocated to the new customer is [9403.99460373]